.contact-title {
    margin: 20px 0;
}
.contact-title h1 {
    margin: 0;
}
.contact-content {
    width: 100%;
}
.form-contact {
    width: 100%;
}
.form-group {
    display: flex;
}
.form-group label,
.form-group span
 {
    width: 20%;
    font-size: 1.6rem;
    font-weight: bold;
}
.form-group input,
.form-group textarea {
    width: 100%;
    max-width: 600px;
}

.box-button {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.box-button button {
    font-size: 1.4rem;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #129CC0;
    color: #fff;
    cursor: pointer;
}
.box-button button:hover {
    opacity: 0.8;
}
.box-show-message p {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
}